@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap');

.container-wrapper {
    display: flex;
    flex-direction: column; 
    margin-bottom: 32px;
}

.nav-bar {
    /* background-color: #F35860; */
    /* color: white; */
    font-family: 'Yanone Kaffeesatz';
    border-bottom: 1px solid white;
}

.dance-moves-dropdown-button {
    color: white; 
}

.danceMovesDropdownMenuItem {
    background-color: #F35860;
    color: white;
}