// @import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap');

.container-wrapper {
    display: flex;
}
.container {
    margin-top: 12px;
    max-width: 90%;
    flex-direction: column; 
    display: flex;
    flex-wrap: wrap;
}

.dropdown-container {
    display: flex;
    min-width: 16%;
    justify-content: space-between;
}

.card {
    width: 40%;
    margin: 0 12px 12px 0;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
}

.button {
    margin-top: 12px;
    margin-right: 12px;
}

.dropdown-item {
    color: #F35860;
}