// @import 'bootstrap/scss/bootstrap.scss';

$body-bg: #F35860;
$body-color: white;

$theme-colors: (
  "primary": #F35860,
  "secondary": #F35860,
  "success": #F35860,
  "danger": #F35860,
  );
  
  $colors: (  
    "primary":#F35860,
    "success": #F35860,
    "danger": #F35860,
    // "gray": purple,
    // "gray-dark": purple,
) !default;


@import "node_modules/bootstrap/scss/bootstrap";


@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(theme-color-level($color), theme-color-level($color, -9), theme-color-level($color, -9));
  }
}

@each $color, $value in $theme-colors {
  .button-#{$color} {
    @include button-variant(theme-color-level($color), theme-color-level($color), theme-color-level($color));
  }
}